.App {
  text-align: center;
  background-color: black;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color:rgb(13, 190, 87);
  font-weight: 200;
}
.title{
  color:grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.star{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}


.card{
    -webkit-transition: all 1s ease ;
    transition: all 1s ease ;
    }
.card:hover {
   
    -webkit-transform:scale(1.25) ; 
    
    transform:scale(1.25);
    }
    .Modaltitle{
      font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
.input{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display:flex;
  flex-direction:row;
  align-items:baseline;
 justify-content:space-between;
}
.btn{
  -webkit-transition: all 1s ease ;
  transition: all 1s ease ;
}
.btn:hover{
  -webkit-transform:scale(1.25) ; 
    
    transform:scale(1.25);
}
.description{
  
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color:rgb(13, 190, 87);
  font-weight: 200;
}

